<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="server=47f8b908-964c-4d16-a5fa-a1cc0130a9b4.mysql.sequelizer.com;database=db47f8b908964c4d16a5faa1cc0130a9b4;uid=aschskgwnzfkjscz;pwd=hK2eLwAmP2vAspAQ4r4q7uKekvKcFydZJEpgBpNMr3KXdVJrBEDeWW7VaW3pUyNp" xdt:Transform="SetAttributes(connectionString)" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>